2023.01.03

In [1]:
import expectexception

In [2]:
lst = [1,'f','e',4]

In [3]:
%%expect_exception TypeError

sorted(lst)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[3], line 1
----> 1 sorted(lst)

TypeError: '<' not supported between instances of 'str' and 'int'

In [4]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")
x

7

In [5]:
mth = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']

In [6]:
for i, m in enumerate(mth):
    print(f'#{i}:{m}')

#0:January
#1:February
#2:March
#3:April
#4:May
#5:June
#6:July
#7:August
#8:September
#9:October
#10:November
#11:December

In [23]:
dt = [str(i) for i in range(1,32)]

In [24]:
day365 = [m+' '+d for m in mth for d in dt]
day365

NameError: name 'mth' is not defined

<font color=red>üëáüèª Jamie‚Äôs note: 
* `date` objects üÜö `datetime` objects
* what can `parse` do? what library?
* `date.today()` üÜö `datetime.now()`
* `strptime` üÜö `strftime`

In [25]:
from datetime import datetime
dt = datetime(1969,7,20,12,45,30) # takes in at most 6 arguments
print(dt,type(dt))

1969-07-20 12:45:30 <class 'datetime.datetime'>

In [26]:
import expectexception

In [27]:
%%expect_exception TypeError

dt = datetime(1969,7)

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[27], line 1
----> 1 dt = datetime(1969,7)

TypeError: function missing required argument 'day' (pos 3)

In [28]:
from datetime import date
d = date(1969,7,20) # takes in at most 3 arguments
print(d,type(d))

1969-07-20 <class 'datetime.date'>

In [29]:
now_dt = datetime.now()
now_dt

datetime.datetime(2023, 1, 10, 9, 39, 42, 208985)

In [30]:
today_d = date.today()
today_d

datetime.date(2023, 1, 10)

<font color=red>üëáüèª Jamie‚Äôs note: both `strftime` works

In [31]:
now_dt.strftime("%Y")

'2023'

In [33]:
datetime.strftime(now_dt,"%Y")

'2023'

In [14]:
datetime.strptime(day365[360],"%B %d")

datetime.datetime(1900, 12, 20, 0, 0)

In [15]:
from dateutil.parser import parse

parse(day365[360])

datetime.datetime(2023, 12, 20, 0, 0)

In [16]:
from random import choices

choices(mth), choices(mth, k=3)

(['July'], ['May', 'May', 'April'])

2023.01.04

In [17]:
import math


class EquilateralShape:
    def __init__(self, num_sides, side_length):
        self.num_sides = num_sides
        self.side_length = side_length

    def calculate_perimeter(self):
        result = self.num_sides * self.side_length
        return result

    def calculate_area(self):
        side_squared = pow(self.side_length, 2)

        if self.num_sides == 3:
            return math.sqrt(3) / 4 * side_squared
        elif self.num_sides == 4:
            return side_squared
        elif self.num_sides == 5:
            weird_value = math.sqrt(25 + 10 * math.sqrt(5))
            return weird_value / 4 * side_squared
        elif self.num_sides == 6:
            return (3 * math.sqrt(3)) / 2 * side_squared
        else:
            raise ValueError

In [18]:
class Square(EquilateralShape):
    def __init__(self, side_length):
        super().__init__(4, side_length) # "self," not needed
    
    def calculate_area(self):
        return pow(self.side_length, 2)

In [19]:
sq1 = Square(1)

In [20]:
sq1.side_length, sq1.num_sides, sq1.calculate_area()

(1, 4, 1)

In [21]:
isinstance(sq1,Square)

True

In [22]:
isinstance(sq1,EquilateralShape)

True

In [1]:
class Person:
    def __init__(self, first, last):
        self.first = first
        self.last = last

In [15]:
class Student(Person):
    def __init__(self, first, last, major, student_id):
        super().__init__(first, last)
        self.major = major
        self.student_id = student_id
    
    def __str__(self):
        return "I am a student."

In [16]:
p1 = Person("J","D")

In [17]:
print(p1)

<__main__.Person object at 0x104d20910>

In [18]:
s1 = Student("J","D","science","1343")

In [19]:
print(s1)

I am a student.

In [24]:
word = 'mississippi'

for i, c in enumerate(word):
    print(i,c)
    
# so yes, you can enumerate a string as well

0 m
1 i
2 s
3 s
4 i
5 s
6 s
7 i
8 p
9 p
10 i

In [25]:
city_population = {"New York City": 8550405, 
                   "Los Angeles": 3971883, 
                   "Toronto": 2731571, 
                   "Chicago": 2720546, 
                   "Houston": 2296224, 
                   "Montreal": 1704694, 
                   "Calgary": 1239220, 
                   "Vancouver": 631486, 
                   "Boston": 667137}

In [26]:
city_population.pop(1) # doesn't work b/c dictionaries don't have order, so no index

KeyError: 1

In [27]:
city_population.pop('Los Angeles') #you can only pop by key in dictionary

3971883

<font color=red>üëáüèª Jamie‚Äôs note: swapping keys and values in a dictionary

In [28]:
{v,k for k,v in city_population.items()}

SyntaxError: did you forget parentheses around the comprehension target? (4193130070.py, line 1)

In [29]:
a = {(v,k) for k,v in city_population.items()}

In [30]:
type(a) #ending up creating a set of tuples, instead of a dictionary

set

In [31]:
dict(v,k for k,v in city_population.items())

SyntaxError: Generator expression must be parenthesized (3788981130.py, line 1)

In [32]:
dict((v,k) for k,v in city_population.items()) # this is the only correct way of writing

{8550405: 'New York City',
 2731571: 'Toronto',
 2720546: 'Chicago',
 2296224: 'Houston',
 1704694: 'Montreal',
 1239220: 'Calgary',
 631486: 'Vancouver',
 667137: 'Boston'}

In [33]:
list('mississippi')

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [34]:
lst = list('1,3,4')
lst

['1', ',', '3', ',', '4']

In [35]:
sum(lst)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
dict((v,k) for k,v in city_population.items())

{8550405: 'New York City',
 2731571: 'Toronto',
 2720546: 'Chicago',
 2296224: 'Houston',
 1704694: 'Montreal',
 1239220: 'Calgary',
 631486: 'Vancouver',
 667137: 'Boston'}

In [37]:
dict(v,k for k,v in city_population.items()) #doesn't work after removing bracket

SyntaxError: Generator expression must be parenthesized (179567536.py, line 1)

In [38]:
lst.index('w') #doesn't return None but instead raises error

ValueError: 'w' is not in list

In [41]:
lst = list('mississippi')
lst

['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']

In [40]:
lst.pop(0) # in list you can only pop by index, not value

'm'

In [42]:
lst.pop('s') #doesn't work b/c pop can only take index, not actual value

TypeError: 'str' object cannot be interpreted as an integer

In [43]:
def count_word_frequencies(sentence):
    dct = {}
    for i in sentence.split(' '):
        if not dct[i]: # this raises an error instead of returning None
            dct[i] = 1
        else:
            dct[i] += 1
    return dct

In [44]:
count_word_frequencies("I came I saw I learned")

KeyError: 'I'

In [45]:
def count_word_frequencies(sentence):
    dct = {}
    for i in sentence.split(' '):
        if not dct.get(i,0):
            dct[i] = 1
        else:
            dct[i] += 1
            return dct

In [46]:
def biggest_gap(lst):
  prev = lst[0]
  max_ = 0
  for i in lst:
    if abs(i - prev) > max_:
      max_ = abs(i - prev)
    prev = i
  return max_

In [47]:
biggest_gap([1, 11, 9, 20, 0])

20

In [48]:
biggest_gap([1, 3, 100, 103, 106])

97

In [49]:
biggest_gap([20,5,10])

15

2023.01.06

In [50]:
[2]*3

[2, 2, 2]

In [51]:
[2]+[3]

[2, 3]

In [2]:
lst = [0,1,2,3]
lst.append(lst.pop(0))
lst

[1, 2, 3, 0]

In [6]:
from functools import reduce

lst = [0,1,2,3]
reduce(lambda a,b:a+b,lst)

6

In [8]:
reduce(lambda a,b:a+b,lst,100)

106

In [15]:
def half_time_scores(
    game_length,  # in minutes
    team_1_score_times,  # each value is seconds
    team_2_score_times   # each value is seconds
):
    t1_score, t2_score = 0,0
    div_sec = game_length * 60 / 2
    for i in team_1_score_times:
        if i > div_sec:
            break
        t1_score += 1
    for i in team_2_score_times:
        if i > div_sec:
            break
        t2_score += 1
    return t1_score+t2_score

In [16]:
l1 = [10,1400,1500]
l2 = [7,2000]

half_time_scores(48,l1,l2)

3

In [27]:
d = {'c': 1, 'b': 2, 'a': 3}

# Get the key of the maximum value
key = max(d, key=d.get)
key

'a'

In [29]:
d = {'c': 1, 'b': 2, 'a': 3}

# Get the max key
key = max(d)
key

'c'

In [35]:
d = {'c': 3, 'b': 2, 'a': 3}

# When more than one number is the mode, unfortunately it only gives the first encounter
key = max(d, key=d.get)
key

'c'

Find Mode

In [43]:
from collections import Counter

def mode(numbers):
    dct = Counter(numbers)
    mode_key = max(dct,key=dct.get)
    mode = dct[mode_key]
    res = []
    for k,v in dct.items():
        if v == mode:
            res.append(k)
    return res

In [44]:
mode([9, 2, 9, 6, 8, 2, 1, 2, 9, 6])

[9, 2]

In [46]:
# Answer given by ChatGPT
def mode(numbers):
    # Create a dictionary to store the frequency of each number
    frequency = {}
    for number in numbers:
        if number not in frequency:
            frequency[number] = 0
        frequency[number] += 1
    
    # Find the highest frequency
    highest_frequency = max(frequency.values())
    
    # Return a list of all numbers that occur with the highest frequency
    return [number for number, count in frequency.items() if count == highest_frequency]

In [47]:
mode([9, 2, 9, 6, 8, 2, 1, 2, 9, 6])

[9, 2]